@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Seja <span class="badge badge-secondary">Bem-Vindo</span></h1>
    <p>Ao gerenciador de produtos E-Stockazz. <a href="https://github.com/kelvinx1full/ChallengerKenner">Consulte o código no GitHub</a>.</p>
</div>
